:root {
    /**https://colorffy.com/dark-theme-generator**/
    /** CSS DARK THEME PRIMARY COLORS */
    --color-primary-100: #382bf0;
    --color-primary-200: #5e43f3;
    --color-primary-300: #7a5af5;
    --color-primary-400: #9171f8;
    --color-primary-500: #a688fa;
    --color-primary-600: #ba9ffb;
    /** CSS DARK THEME SURFACE COLORS */
    --color-surface-100: #121212;
    --color-surface-200: #282828;
    --color-surface-300: #3f3f3f;
    --color-surface-400: #575757;
    --color-surface-500: #717171;
    --color-surface-600: #8b8b8b;
    /** CSS DARK THEME MIXED SURFACE COLORS */
    --color-surface-mixed-100: #1a1625;
    --color-surface-mixed-200: #2f2b3a;
    --color-surface-mixed-300: #46424f;
    --color-surface-mixed-400: #5e5a66;
    --color-surface-mixed-500: #76737e;
    --color-surface-mixed-600: #908d96;

    /** Global */
    color: white;
    background-color: var(--color-surface-mixed-100);

    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    padding: 2em;
}

* {
    user-select: none;
}

.grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, 4em);
    gap: 1em;
}